<section>
  <p>
    Hi! My name is Ruslan and I live and work in San Francisco Bay Area,
    California. I’ve recently published a book!
  </p>
  <p>
    <a href="https://amzn.to/2EfGaN5"
       target="blank"><img alt="A picture of Mastering Vim book cover."
                           class="shadow-box"
                           src="/images/mastering-vim.png"
                           title="A picture of Mastering Vim book cover."
                           width="262px" /></a>
  </p>
  <p>
    <a href="https://amzn.to/2EfGaN5" target="blank">Mastering Vim</a> is
    available on Amazon, and I'd love to hear your thoughts about it!
  </p>
</section>
