<section>
  <p>
    Hi! My name is Ruslan and I live in San Diego, California. My blog isn't
    particularly thematic, and I mostly write about:
  </p>
  <ul>
    <li>
      <a href="/blog/categories/life/">Life</a>
      <ul>
        <li><a href="/blog/categories/finance/">Finance</a></li>
        <li><a href="/blog/categories/games/">Games</a></li>
        <li><a href="/blog/categories/travel/">Travel</a></li>
      </ul>
    </li>
    <li>
      <a href="/blog/categories/work/">Work</a>
      <ul>
        <li><a href="/blog/categories/cli/">CLI</a></li>
        <li><a href="/blog/categories/productivity/">Productivity</a></li>
        <li><a href="/blog/categories/programming/">Programming</a></li>
        <li><a href="/blog/categories/vim/">Vim</a></li>
        <li><a href="/blog/categories/writing/">Writing</a></li>
      </ul>
    </li>
  </ul>
  <p>
    <a href="/blog/about">Learn more about me</a>.
  </p>
  <hr>
  <p>
    I use use <a href="https://www.privateinternetaccess.com/offer/rosipov_o6hmp8nh" target="_blank">PIA VPN</a> and recommend you do as well. Subscribing through this link buys me a coffee.
  </p>
</section>
