<section>
  <p>Hi! My name is Ruslan and I live and work in Mountain View, CA. I am a technical lead at Google. I’ve recently published a book - "Mastering Vim" - pick it up and let me know what you think:</p>
  <a href="https://amzn.to/2EfGaN5"
     target="blank"><img alt="A picture of Mastering Vim book cover."
                         class="shadow-box"
                         src="/images/mastering-vim.png"
                         title="A picture of Mastering Vim book cover."
                         width="262px" /></a>
</section>
