<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col" style="margin-bottom: 0px;">
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="footer-col">
        <a href="https://xn--sr8hvo.ws/previous">←</a>
        <a href="https://xn--sr8hvo.ws">IndieWeb webring</a> 🕸💍
        <a href="https://xn--sr8hvo.ws/next">→</a>
      </div>
    </div>
  </div>

  <!-- Authentication for indieweb.org -->
  <link href="https://github.com/ruslanosipov" rel="me">

</footer>
