.page-content img {
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;

    // Vendor prefixes
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.text-muted {
  color: #828282;
}

img.book-cover {
  height: 280px;
}

.button {
  padding: 4px;
  font-size: 0.9em;
  line-height: 1.4;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}
