/** Polaroid-like borders around images. */

.page-content img {
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;

    // Vendor prefixes
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.text-muted {
  color: #828282;
}

img.book-cover {
  height: 280px;
}

/** Reply by email. */

.button {
  padding: 4px;
  font-size: 0.9em;
  line-height: 1.4;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}

/** Comments. */

.comment-separator {
  margin-top: 2em;
  margin-bottom: 1em;
}
.comment-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.comment {
  margin-bottom: 1em;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0.7em;
}
.comment-meta {
  margin-bottom: 0.5rem;
  font-size: 0.9em;
  color: #666;
}
.comment-author b {
  font-weight: bold;
}
.comment-content p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
